<section class="gallery">
	<div class="grid grid--first">
		<div class="grid__box">
			<a href="" class="grid__box-link">
				<div class="grid__box-item">
					<div class="grid__box-decor">
						<img src="../assets/images/varshavskay.png" class="grid__box-img" alt="build" />
					</div>
					<div class="grid__box-info">
						<div class="grid__box-heading">LIFE-ВАРШАВСКАЯ</div>
						<div class="grid__box-subheading">2021 ∙ 50 080 м&sup2;</div>
					</div>
				</div>
			</a>
			<a href="" class="grid__box-link">
				<div class="grid__box-item">
					<div class="grid__box-decor">
						<img src="../assets/images/intonation.png" class="grid__box-img" alt="build" />
					</div>
					<div class="grid__box-info">
						<div class="grid__box-heading">ЖК ИНТОНАЦИЯ</div>
						<div class="grid__box-subheading">2020 ∙  40 491 м&sup2;</div>
					</div>
				</div>
			</a>
			<a href="" class="grid__box-link">
				<div class="grid__box-item">
					<div class="grid__box-decor">
						<img src="../assets/images/shar.png" class="grid__box-img" alt="build" />
					</div>
					<div class="grid__box-info">
						<div class="grid__box-heading">ЖК НА ШАРИКОПОДШИПНИКОВСКОЙ</div>
					<div class="grid__box-subheading">2020 ∙ 320 000 м&sup2;</div>
				</div>
				</div>
			</a>
			<a href="" class="grid__box-link">
				<div class="grid__box-item">
					<div class="grid__box-decor">
						<img src="../assets/images/spire.png" class="grid__box-img" alt="build" />
					</div>
					<div class="grid__box-info">
						<div class="grid__box-heading">SPIRES</div>
						<div class="grid__box-subheading">2016 ∙ 80 000 м&sup2;</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>