.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	background: #000;

	&__desc {
		display: flex;
		flex-direction: column;
	}

	&__text {
		text-align: center;
		letter-spacing: 5px;
	}
}